
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
}
.food_form{
  margin-top: 18px;
}
.input_1{
  padding: 6px 16px;
  min-width: 200px;
  max-height: 100vh;
}
.button_1{
  padding: 6px 16px;
  font-size: 15px;
  margin-left: 6px;
  background-color:hsl(201, 100%, 50%);
  border: 2px solid hsl(201, 100%, 50%);
  border-radius: 4px;
  color:white;
  cursor: pointer;
}
.button_1:hover{
  background-color: hsl(236, 100%, 50%);
}

.app_recipes{
  margin-top: 24px;
  display: grid;
  grid-template-columns: 230px 230px;
  align-items: baseline;
}
.app_healthLabels{
  padding: 5px 7px;
  margin-left: 6px;
  border-radius: 4px;

}

